<div class="chat">
    <header>
        <div class="header">
            <div class="d-flex justify-content-between nav-bar">
                <h2>RFP Response Generator</h2>
                <div>
                    <button class="btn-white-border mr-3" routerLink="/kpi">KPI Dashboard</button>
                    <button class="btn-white-border" (click)="logout()"><img
                            src="assets/images/logout.png">Logout</button>
                </div>
            </div>
            <div class="top-header">
                <div class="row m-0">
                    <div class="col-4 py-0">
                        <div class="d-flex align-items-center">
                            <label>Select Model</label>
                            <select #mySelect (change)="onSelectionChange(mySelect.value)">
                                <option value="Google - RAG PALM2 llm">Google - RAG PALM2 llm</option>
                                <option value="Google - Public PALM2 llm">Google - Public PALM2 llm</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="d-flex align-items-center">
                            <label>Length (2048)</label>
                            <input #length class="w65" type="number" max="=2048" min="0" value="1024">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="d-flex align-items-center">
                            <label>Temperature (1)</label>
                            <input #temp type="number" min="0" step="0.1" max="1" value="0.2">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="d-flex align-items-center">
                            <label>Top K (40)</label>
                            <input #topK type="number" min="0" step="1" max="40" value="40">
                        </div>
                    </div>
                    <div class="col-2 pr-0">
                        <div class="d-flex align-items-center">
                            <label>Top P (1)</label>
                            <input #topP type="number" min="0" step="0.01" max="1" value="0.4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="chat-container" #chatContainer>
            <div *ngFor="let message of messages">
                <div [ngClass]="{ 'send': message.user == 'send', 'receive': message.user == 'receive' }">
                    <div class="message">
                        <p class="font-weight-bold" *ngIf="message.user == 'send'">Human</p>
                        <p class="font-weight-bold" *ngIf="message.user == 'receive'">{{message.model}}</p>
                        <span>{{message.text }}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="loading-dots" *ngIf="spinner">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
        <div class="input-container w-100">
            <input type="text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" placeholder="Type a message...">
            <div class="send">
                <button class="btn btn-success" (click)="sendMessage()">
                    <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqBAMAAAA37dRoAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAwUExURUdwTP///////////////////////////////////////////////////////////0Q+7AIAAAAPdFJOUwCAQO+/22AgpRCQUHAwjxcxKp8AAADrSURBVCjPY2CgL2BLwCbK+DUdm+j//+1YRf+7YRX9H1aAIfoFKPyjAF30QwVQ+EsCuihDWfz//6hOAYkysPn/R3UK4/+PmyYwsPejOgXshpA32qkoTgGLAsHn/8hOYWqx/48ASE65dMoVLoziFE5tCWeoOFqo8Oosif+PESrT97wIBok6wUXYr0mEQt2yCGpm9blWuDs+S0Jc1hqP7DIFVF98BRFWCkh++xyxZu9jIG04ASl0cgsYmJpRLIeEJLc/wnK46ER7uOUIUT17hOUosWmlgCXmEZYjiTphSSUolsNEUS2HAm4FhgEGACl20QuN4geoAAAAAElFTkSuQmCC">
                </button>
            </div>
        </div>
    </footer>
</div>